{{- $isDarwin := eq .chezmoi.os "darwin" -}}
#### Paths (put sbin once) ####
{{ if $isDarwin -}}
# Apple Silicon uses /opt/homebrew, Intel uses /usr/local - source whichever exists
[ -x /opt/homebrew/bin/brew ] && eval "$(/opt/homebrew/bin/brew shellenv)"
[ -x /usr/local/bin/brew ] && eval "$(/usr/local/bin/brew shellenv)"
{{ else -}}
[ -x /home/linuxbrew/.linuxbrew/bin/brew ] && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}
export PATH="$HOME/.local/bin:$PATH"

#### History ####
HISTFILE=$HOME/.zsh_history
HISTSIZE=50000
SAVEHIST=50000
setopt HIST_IGNORE_DUPS HIST_IGNORE_ALL_DUPS HIST_REDUCE_BLANKS HIST_VERIFY EXTENDED_HISTORY SHARE_HISTORY


#### Completion & keys ####
autoload -Uz compinit && compinit -C
bindkey -e # emacs keys; change to -v for vim if you prefer


#### Prompt (Starship) ####
eval "$(starship init zsh)"
export STARSHIP_CONFIG="$HOME/.config/starship.toml"


#### Quality of life ####
# fzf, zoxide, direnv
[ -f "$(brew --prefix)/opt/fzf/shell/key-bindings.zsh" ] && source "$(brew --prefix)/opt/fzf/shell/key-bindings.zsh"
eval "$(zoxide init zsh)"
eval "$(direnv hook zsh)"


# Better ls/cat
alias ls='eza --group-directories-first --icons=auto'
alias ll='ls -lah'
alias cat='bat --paging=never'


# Safer rm/cp/mv
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'


# Git shortcuts
alias g='git'
alias ga='git add -A'
alias gc='git commit -v'
alias gco='git checkout'
alias gb='git branch -vv'
alias gl='git log --oneline --graph --decorate --all'


# HTTPie convenience
alias GET='http --follow --timeout 30 --verbose GET'


# Cheat sheet
alias cheat='bash ~/Development/dotfiles/reference/cheatsheet.sh | less -R'

# Jump (zoxide)
alias zc='z -'


#### Sessionizer (fzf + tmux) ####
SESSIONIZE_PATHS=(
  "$HOME/Development"
  "$HOME/dotfiles"
)

sessionize() {
  local dir
  dir=$(fd --type d --hidden --follow --exclude .git --max-depth 3 . "${SESSIONIZE_PATHS[@]}" | \
        fzf --height 50% --reverse) || return
  local name
  name=$(basename "$dir" | tr '.' '-' | tr ' ' '-')
  if tmux has-session -t "$name" 2>/dev/null; then
    tmux switch-client -t "$name"
  else
    tmux new-session -ds "$name" -c "$dir"
    tmux send-keys -t "$name:0.0" "nvim ." Enter
    tmux split-window -t "$name:0.0" -v -p 15 -c "$dir"
    tmux select-pane -t "$name:0.0"
    tmux switch-client -t "$name"
  fi
}
alias ts='sessionize'

# Fast-switch between existing sessions (no fd scan)
tsw() {
  local session
  session=$(tmux list-sessions -F '#{session_name}' | fzf --height 40% --reverse) || return
  tmux switch-client -t "$session"
}
alias tw='tsw'


eval "$(luarocks --lua-version=5.5 path --bin)"

#### AI tools ####
[ -f "$HOME/.secrets/gitlab" ] && source "$HOME/.secrets/gitlab"


#### Per-machine aliases ####
[ -f "$HOME/.config/zsh/aliases.sh" ] && source "$HOME/.config/zsh/aliases.sh"
[ -f "$HOME/.config/zsh/work_aliases.sh" ] && source "$HOME/.config/zsh/work_aliases.sh"
[ -f "$HOME/.fzf.zsh" ] && source "$HOME/.fzf.zsh"


export PATH="${ASDF_DATA_DIR:-$HOME/.asdf}/shims:$PATH"
